<div *ngIf="grupo">
    <h2>Manutenção de grupo</h2>
    <div>
      <table class="formulario">
        <tr>
          <td>id:</td>
          <td>{{grupo.id}}</td>
        </tr>
        <tr>
          <td>Nome:</td>
          <td><input type="text" id="nomeGrupo" class="textbox" [(ngModel)]="grupo.nome" required placeholder="Digite o nome"/></td>
        </tr>      
        </table>
    </div>
    <button (click)="goBack()">Voltar</button>
    &nbsp;
    <button (click)="save()">Salvar</button>
  </div>
